.add-Button {
  width: 150px;
  height: 50px;
  background-color: black;
  padding: 0;
  border: none;
  margin-right: 0;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url(../../images/Add-Button.svg);
}
.add-Button:hover {
  opacity: 0.6;
  cursor:pointer;
 }

@media (max-width:620px) {
 .add-Button {
    width: 282px;
    background-image: url(../../images/Add-Button-mobile.svg);
  }
}