.profile__info {
  display: flex;
  margin-top:22px;
  margin-bottom: 25px;
  margin-left:30px;
  max-width: 336px;
}

@media (max-width:620px) {
 .profile__info {
    margin-top: 26px;
    margin-bottom: 36px;
  }
}