.form {
  box-sizing: border-box;
  background-color:white;
  width:430px;
  height:330px;
  border-radius: 10px;
  position: relative;
}

@media (max-width:620px) {
.form {
    width:282px;
    height:322px;
  }
}